html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    background-color: lightblue;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


.display {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: red 5px solid;
    border-radius: 25%;
    background: darkslateblue;
}

h1#displayTime.timer {
    font-size: 100px;
    margin: 0;
    color: white;
    text-align: center;
}

.status {
    display: inline-block;
    padding-top: 0;
    font-size: 25px;
    color: white;
}

.row {
    min-width: 340px
}

.nav-pills .nav-item .nav-link {
    margin-top: 20px;
    margin-bottom: 20px;
    background: deepskyblue;
    color: #fff;
    border-radius: 20%;
    border: darkslateblue 5px solid;
}

.nav-link:hover {
    background-color: darkslateblue;
    border-radius: 20%;
}

.nav-pills .nav-item .nav-link.active {
    background-color: cornflowerblue;
    color: #fff;
}

.nav-item {
    margin: 0 10px;
}

.btn.btn-primary {
    width: 120px;
    height: 60px;
    margin: 30px;
    padding: 100px;
}

#start {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#start:hover {
    background-color: #3e8e41
}

#start:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#reset {
    display: inline-block;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#reset:hover {
    background-color: coral
}

#reset:active {
    background-color: rosybrown;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#next {
    display: inline-block;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: cornflowerblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#next:hover {
    background-color: blueviolet
}

#next:active {
    background-color: blueviolet;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.timer {
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 45px;
}




.root ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.root ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
.root ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.root ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.root ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

