html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    background-color: lightblue;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


.display {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: red 5px solid;
    border-radius: 25%;
    background: darkslateblue;
}

h1#displayTime.timer {
    font-size: 100px;
    margin: 0;
    color: white;
    text-align: center;
}

.status {
    display: inline-block;
    padding-top: 0;
    font-size: 25px;
    color: white;
}

.row {
    min-width: 340px
}

.nav-pills .nav-item .nav-link {
    margin-top: 20px;
    margin-bottom: 20px;
    background: deepskyblue;
    color: #fff;
    border-radius: 20%;
    border: darkslateblue 5px solid;
}

.nav-link:hover {
    background-color: darkslateblue;
    border-radius: 20%;
}

.nav-pills .nav-item .nav-link.active {
    background-color: cornflowerblue;
    color: #fff;
}

.nav-item {
    margin: 0 10px;
}

.btn.btn-primary {
    width: 120px;
    height: 60px;
    margin: 30px;
    padding: 100px;
}

#start {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#start:hover {
    background-color: #3e8e41
}

#start:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#reset {
    display: inline-block;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#reset:hover {
    background-color: coral
}

#reset:active {
    background-color: rosybrown;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#next {
    display: inline-block;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: cornflowerblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#next:hover {
    background-color: blueviolet
}

#next:active {
    background-color: blueviolet;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.timer {
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 45px;
}


.root ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.root ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
.root ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.root ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.root ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
/* todoapp*/
button {
    border: 1px solid rgb(105, 197, 255);
    border-radius: 5px;
    background-color: rgb(227, 248, 255);
    color: rgb(105, 197, 255);
    text-align: center;

}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

:checked + label {
    text-decoration: line-through;
    color: green;
}

/* Style the close button */


.input-field {
    position: relative;
}

.input-field > label {
    font-size: 1.1rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 0.5rem);
    padding-left: 0.5rem;
    padding-right: auto;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: rgba(255, 255, 255, 0);
    transition: 0.3s;
    cursor: text;
}

.input-field > label:focus-within {
    transform-origin: 0 0;
    transform: translateY(-1rem) scale(0.8);
    color: white;
    background-color: black;
}

#input--add {
    width: calc(100% - 1rem);
}

.input {
    height: 2rem;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    color: white;
    background-color: rgb(46, 46, 46);
    border: none;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}

.input:focus {
    border-bottom: 3px solid white;
    outline: none;
    filter: brightness(0.7);
}

.input--todo {
    border: 1px solid rgb(105, 197, 255);
    border-radius: 5px;
    background-color: rgb(227, 248, 255);
    color: rgb(105, 197, 255);
    text-align: center;
}

.input--todo:focus {
    border-bottom: 3px solid rgb(3, 7, 206);
    filter: brightness(0.7);
}

.button {
    border: 1px solid rgb(105, 197, 255);
    border-radius: 5px;
    background-color: rgb(227, 248, 255);
    color: rgb(105, 197, 255);
    text-align: center;
}

.button:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.button--todo {
    border-radius: 5px;
    background-color: rgb(227, 248, 255);
    color: rgb(105, 197, 255);
    text-align: center;
}
.button--todo:hover {
    background-color: rgb(227, 248, 255);
    color: rgb(23, 160, 245);
}
.button--edit {
    background-color: rgb(21, 43, 243);
    color: rgb(227, 248, 255);
}
.button--edit:hover {
    background-color: rgb(21, 43, 243);
    border: 1px solid rgb(21, 43, 243);
    color: rgb(227, 248, 255);
}
.button--save {
    background-color: rgb(0, 122, 27);
    border: 1px solid rgb(0, 133, 29);
    color: rgb(227, 248, 255);
}
.button--delete {
    background-color: rgb(212, 0, 0);
    color: rgb(227, 248, 255);
}
.button--delete:hover {
    background-color: rgb(173, 6, 23);
    border: 1px solid rgb(154, 27, 39);
}

.todo-collection__item {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
    font-size: 1.1rem;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr auto auto;
}

.todo-collection__item__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
    overflow-x: auto;
}

.hidden {
    display: none;
}

